.popup-component {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 888;

  display: flex;
  height: 100%;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: hsla(200.75675675675674, 0.00%, 0.00%, 0.59);
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media screen and (max-width: 991px) {
  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.popup-container {
  padding: 2rem 6rem;
  border: 2px dashed black;
  background-color: var(--white-a3614dc0);
}

.padding-medium {
  padding: 2rem;
}

@media screen and (max-width: 991px) {
  .padding-medium {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-medium {
    padding: 1.25rem;
  }
}

.game-won-form-componets {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.txt-time {
  color: var(--crimson-cde79e4b);
  text-align: center;
}

.game-won-form-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.div-block {
  display: flex;
}

.div-block-2 {
  display: flex;
  flex-direction: row;
}

.button {
  padding: 0.75rem 1.5rem;

  border: 2px dashed black;

  background-color: var(--crimson-cde79e4b);

  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-weight: 600;
  text-align: center;
}

.button.is-text {
  border: 2px solid transparent;
  background-color: transparent;
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.button.is-small {
  padding: 0.5rem 1.25rem;
}

.button.is-large {
  padding: 1rem 2rem;
}

.button.is-secondary {
  border-style: solid;
  border-width: 2px 2px 0.125rem;
  border-color: black;
  background-color: transparent;
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.button.is-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  text-decoration: none;
}

.background-color-blue {
  background-color: var(--dodgerBlue-b4b29118);
  color: whitesmoke;
}