.section_home {
  position: relative;

  display: flex;
  overflow: hidden;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.padding-global {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

@media screen and (max-width: 767px) {
  .padding-global {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media screen and (max-width: 991px) {
  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.home_components {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.z-index-2 {
  position: relative;
  z-index: 2;
}

.red {
  color: var(--crimson-cde79e4b);
}

.top-scoreboard-container {
  display: flex;
  padding: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  border: 2px dashed black;

  background-color: var(--white-a3614dc0);
}

.padding-large {
  padding: 3rem;
}

@media screen and (max-width: 991px) {
  .padding-large {
    padding: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-large {
    padding: 1.5rem;
  }
}

.button {
  padding: 0.75rem 1.5rem;

  border: 2px dashed black;

  background-color: var(--crimson-cde79e4b);

  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-weight: 600;
  text-align: center;
}

.button.is-text {
  border: 2px solid transparent;
  background-color: transparent;
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.button.is-small {
  padding: 0.5rem 1.25rem;
}

.button.is-large {
  padding: 1rem 2rem;
}

.button.is-secondary {
  border-style: solid;
  border-width: 2px 2px 0.125rem;
  border-color: black;
  background-color: transparent;
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.button.is-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  text-decoration: none;
}

.background-color-blue {
  background-color: var(--dodgerBlue-b4b29118);
  color: whitesmoke;
}

.home_btn-container {
  display: flex;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.home-waldo0img {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;

  width: 40vw;
}